<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>App Store</string>
		<key>scheme</key>
		<string>itms-apps://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>iBooks</string>
		<key>scheme</key>
		<string>ibooks://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>iTunes Store</string>
		<key>scheme</key>
		<string>itms</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Mail</string>
		<key>scheme</key>
		<string>message://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Map</string>
		<key>scheme</key>
		<string>maps://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Message</string>
		<key>scheme</key>
		<string>sms://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>News</string>
		<key>scheme</key>
		<string>applenews://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Podcast</string>
		<key>scheme</key>
		<string>podcast://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Reminders</string>
		<key>scheme</key>
		<string>x-apple-reminder://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Safari</string>
		<key>scheme</key>
		<string>x-web-search://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Videos</string>
		<key>scheme</key>
		<string>videos://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Wallet</string>
		<key>scheme</key>
		<string>shoebox://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Music</string>
		<key>scheme</key>
		<string>music://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Photos</string>
		<key>scheme</key>
		<string>photos-redirect://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Weather</string>
		<key>scheme</key>
		<string>weather://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>QQ</string>
		<key>scheme</key>
		<string>mqq://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>WeChat</string>
		<key>scheme</key>
		<string>weixin://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Weibo</string>
		<key>scheme</key>
		<string>weibo://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>秒拍</string>
		<key>scheme</key>
		<string>Miaopai://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Evernote</string>
		<key>scheme</key>
		<string>evernote://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Facebook</string>
		<key>scheme</key>
		<string>fb://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Instagram</string>
		<key>scheme</key>
		<string>instagram://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Twitter</string>
		<key>scheme</key>
		<string>twitter://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Skype</string>
		<key>scheme</key>
		<string>skype://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Youtube</string>
		<key>scheme</key>
		<string>vnd.youtube://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>WhatsApp</string>
		<key>scheme</key>
		<string>whatsapp://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Dropbox</string>
		<key>scheme</key>
		<string>dbx-dropbox://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Microsoft One Drive</string>
		<key>scheme</key>
		<string>ms-onedrive://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Google Drive</string>
		<key>scheme</key>
		<string>googledrive://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Google Photos</string>
		<key>scheme</key>
		<string>googlephotos://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Translate</string>
		<key>scheme</key>
		<string>googletranslate://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Chrome</string>
		<key>scheme</key>
		<string>googlechrome://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Gmail</string>
		<key>scheme</key>
		<string>googlegmail://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>AliPay</string>
		<key>scheme</key>
		<string>alipay://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>支付宝扫码</string>
		<key>scheme</key>
		<string>alipayqr://platformapi/startapp?saId=10000007</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>PayPal</string>
		<key>scheme</key>
		<string>paypal://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Shazam</string>
		<key>scheme</key>
		<string>shazam-v8://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Snapchat</string>
		<key>scheme</key>
		<string>snapchat://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Auxy</string>
		<key>scheme</key>
		<string>auxy</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Triller</string>
		<key>scheme</key>
		<string>triller://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Uber</string>
		<key>scheme</key>
		<string>uber://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Airbnb</string>
		<key>scheme</key>
		<string>airbnb://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Clear</string>
		<key>scheme</key>
		<string>clearapp://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Wunderlist</string>
		<key>scheme</key>
		<string>wunderlist://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Copied</string>
		<key>scheme</key>
		<string>copied://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Quora</string>
		<key>scheme</key>
		<string>quora://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>百度贴吧</string>
		<key>scheme</key>
		<string>com.baidu.tieba://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>一点资讯</string>
		<key>scheme</key>
		<string>yidian://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>知乎</string>
		<key>scheme</key>
		<string>zhihu://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Zaker</string>
		<key>scheme</key>
		<string>zakeriphone://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Pokect</string>
		<key>scheme</key>
		<string>pokect://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Pinterest</string>
		<key>scheme</key>
		<string>pinterest://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>VSCO</string>
		<key>scheme</key>
		<string>vsco://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>Trello</string>
		<key>scheme</key>
		<string>trello://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>ebay</string>
		<key>scheme</key>
		<string>ebay://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>中关村在线</string>
		<key>scheme</key>
		<string>zol://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>安兔兔评测</string>
		<key>scheme</key>
		<string>antutubenchmark://</string>
	</dict>
	<dict>
		<key>timestamp</key>
		<integer>0</integer>
		<key>locked</key>
		<false/>
		<key>active</key>
		<false/>
		<key>title</key>
		<string>美图秀秀</string>
		<key>scheme</key>
		<string>mtxx://</string>
	</dict>
</array>
</plist>
