<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>antutubenchmark</string>
		<string>com.baidu.tieba</string>
		<string>mtxx</string>
		<string>Miaopai</string>
		<string>yidian</string>
		<string>zhihu</string>
		<string>zol</string>
		<string>airbnb</string>
		<string>alipay</string>
		<string>auxy</string>
		<string>googlechrome</string>
		<string>clearapp</string>
		<string>copied</string>
		<string>dbx-dropbox</string>
		<string>ebay</string>
		<string>evernote</string>
		<string>fb</string>
		<string>googlegmail</string>
		<string>googledrive</string>
		<string>googlephotos</string>
		<string>instagram</string>
		<string>ms-onedrive</string>
		<string>music</string>
		<string>applenews</string>
		<string>paypal</string>
		<string>photos-redirect</string>
		<string>pinterest</string>
		<string>podcast</string>
		<string>pokect</string>
		<string>mqq</string>
		<string>quora</string>
		<string>x-apple-reminder</string>
		<string>x-web-search</string>
		<string>shazam-v8</string>
		<string>skype</string>
		<string>snapchat</string>
		<string>googletranslate</string>
		<string>trello</string>
		<string>triller</string>
		<string>twitter</string>
		<string>uber</string>
		<string>videos</string>
		<string>vsco</string>
		<string>weather</string>
		<string>weixin</string>
		<string>weibo</string>
		<string>whatsapp</string>
		<string>wunderlist</string>
		<string>vnd.youtube</string>
		<string>zakeriphone</string>
		<string>alipayqr</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
